*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
/node_modules/
.buildpath
.settings
npm-debug.log
demo.js
nohup.out
_site
dist
/widgets/
ts
lib
typings.json
typings
tsconfig.json
elasticsearch-*
config/base.yaml
/site/static/js/
/site/static/css/
/site/static/images/
/publish/static/
publish/index.html
/dist/


